<div id="<%= dom_id(category) %>" class="d-felx align-items-center justify-content-between">
  <h4><%= link_to category.name, category_discussions_path(category) %></h4>
  <% if category.discussions.count.positive? %>
    <span class="badge bg-secondary rounded-pill text-light"> <%= category.discussions.count  %></span>
  <% end %>
</div>
